#examples {

	text-align: center;
    margin: auto;
}

footer {
	color: black;
}

#topNavLogo {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.jumbotron {
	text-align: center;
	background-color: #ffffff;
}